<fieldset>
    <legend>Ingrese nombre:</legend>
    <input type="text" [(ngModel)]="nombre">
</fieldset>
<fieldset>
    <legend>Ingrese apellido:</legend>
    <input type="text" [(ngModel)]="apellido">
</fieldset>
<fieldset>
    <legend>Ingrese cargo:</legend>
    <select name="empleo" [(ngModel)]="empleo">
        <option value="1">programador</option>
        <option value="2">administrador</option>
        <option value="3">diseñador</option>
        <option value="4">aseo</option>
    </select>
</fieldset>
<fieldset>
    <legend>Ingrese experiencia:</legend>
    <select name="experiencia" [(ngModel)]="experiencia">  
        <option value="1">principiante</option>
        <option value="2">intermedio</option>
        <option value="3">experto</option>
    </select>
</fieldset>

<br>

<button (click)="enviar()">Registrar</button>


<p>{{nombre}}</p>